Homework9TabsModal/HomeworkCode9/bin/Debug
Homework9TabsModal/HomeworkCode9/obj/Debug
Homework9TabsModal/HomeworkCode9.Android/bin/Debug
Homework9TabsModal/HomeworkCode9.Android/obj/Debug
Homework9TabsModal/HomeworkCode9.iOS/bin/iPhoneSimulator/Debug
Homework9TabsModal/HomeworkCode9.iOS/obj/iPhoneSimulator/Debug
Homework10PersonalityQuizWithList/WhichTurtleAreYou/bin/Debug
Homework10PersonalityQuizWithList/WhichTurtleAreYou/obj/Debug
Homework10PersonalityQuizWithList/WhichTurtleAreYou.Android/obj/Debug
Homework10PersonalityQuizWithList/WhichTurtleAreYou.iOS/bin/iPhoneSimulator/Debug
Homework10PersonalityQuizWithList/WhichTurtleAreYou.iOS/obj/iPhoneSimulator/Debug
