Homework9TabsModal/HomeworkCode9/bin/Debug
Homework9TabsModal/HomeworkCode9/obj/Debug
Homework9TabsModal/HomeworkCode9.Android/bin/Debug
Homework9TabsModal/HomeworkCode9.Android/obj/Debug
Homework9TabsModal/HomeworkCode9.iOS/bin/iPhoneSimulator/Debug
Homework9TabsModal/HomeworkCode9.iOS/obj/iPhoneSimulator/Debug
